<mat-sidenav-container class="container">
  <!-- side-nav -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="toolbar">D55</mat-toolbar>
    <!-- Elements list menu -->
    <mat-list>
      <mat-list-item *ngFor="let item of links"> 
        <a matLine [routerLink]="item.url">{{ item.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!-- side-nav-content -->
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <span>Angular Material Example</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
